In [1]:
import pandas as pd
import sqlite3

from IPython.display import display, HTML

conn = sqlite3.connect("Db-IMDB-Assignment.db")

In [2]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select a.actor,b.director, count(a.actor) movies from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.name director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor'''    


grader_8a(query8a)

                         actor          director  movies
0              'Ganja' Karuppu     N. Linguswamy       2
1        'Lee' George Quinones  Adam Bhala Lough       1
2   'Musafir' Radio Performing   Abhishek Kapoor       1
3           'Nandha' Saravanan              Bala       1
4       'Om' Rakesh Chaturvedi          R. Balki       1
5               'Snub' Pollard       Robert Wise       1
6               A'Ali de Sousa       Karan Johar       1
7              A. Abdul Hameed  K.S. Prakash Rao       2
8                    A. Darpan       Aravind Sen       1
9             A. Deiva Sundari           Ang Lee       1
(30430, 3)
Wall time: 1.08 s

In [4]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select a.actor,b.director, count(*) movies from (select distinct(p.pid) actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select distinct(p.pid) director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director'''    


grader_8a(query8a)

       actor   director  movies
0  nm0000002  nm0496746       1
1  nm0000027  nm0000180       1
2  nm0000039  nm0896533       1
3  nm0000042  nm0896533       1
4  nm0000047  nm0004292       1
5  nm0000073  nm0485943       1
6  nm0000076  nm0000229       1
7  nm0000092  nm0178997       1
8  nm0000093  nm0000269       1
9  nm0000096  nm0113819       1
(73408, 3)
Wall time: 985 ms

In [17]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(20))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select a.actor,b.director, count(*) from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.name director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids and \
             trim(b.director) = 'Yash Chopra' group by a.actor, b.director order by count(*) desc'''    


grader_8a(query8a)

                actor      director  count(*)
0         Jagdish Raj   Yash Chopra        11
1    Manmohan Krishna   Yash Chopra        10
2            Iftekhar   Yash Chopra         9
3          Madan Puri   Yash Chopra         8
4         Vikas Anand   Yash Chopra         8
5         Anupam Kher   Yash Chopra         7
6       Shashi Kapoor   Yash Chopra         7
7    Amitabh Bachchan   Yash Chopra         6
8       Rakhee Gulzar   Yash Chopra         5
9      Waheeda Rehman   Yash Chopra         5
10     Achala Sachdev   Yash Chopra         4
11        Deven Verma   Yash Chopra         4
12        Hema Malini   Yash Chopra         4
13        Neetu Singh   Yash Chopra         4
14           Ravikant   Yash Chopra         4
15       Rishi Kapoor   Yash Chopra         4
16     Shah Rukh Khan   Yash Chopra         4
17        A.K. Hangal   Yash Chopra         3
18        Anil Kapoor   Yash Chopra         3
19        Annu Kapoor   Yash Chopra         3
(428, 3)
Wall time: 332 ms

In [35]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(30))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select actors ,directors, max(count) from (select a.actor actors, b.director directors, \
             count(*) count from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.name director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids \
             group by a.actor, b.director order by count(*) desc) where \
             trim(directors) = 'Yash Chopra'  group by actors,directors order by count desc '''    


grader_8a(query8a)

               actors     directors  max(count)
0         Jagdish Raj   Yash Chopra          11
1    Manmohan Krishna   Yash Chopra          10
2            Iftekhar   Yash Chopra           9
3          Madan Puri   Yash Chopra           8
4         Vikas Anand   Yash Chopra           8
5         Anupam Kher   Yash Chopra           7
6       Shashi Kapoor   Yash Chopra           7
7    Amitabh Bachchan   Yash Chopra           6
8       Rakhee Gulzar   Yash Chopra           5
9      Waheeda Rehman   Yash Chopra           5
10     Achala Sachdev   Yash Chopra           4
11        Deven Verma   Yash Chopra           4
12        Hema Malini   Yash Chopra           4
13        Neetu Singh   Yash Chopra           4
14           Ravikant   Yash Chopra           4
15       Rishi Kapoor   Yash Chopra           4
16     Shah Rukh Khan   Yash Chopra           4
17        A.K. Hangal   Yash Chopra           3
18        Anil Kapoor   Yash Chopra           3
19        Annu Kapoor   Yash Chopra           3
20      Leela Chitnis   Yash Chopra           3
21       Mohan Sherry   Yash Chopra           3
22    Parikshat Sahni   Yash Chopra           3
23        Prem Chopra   Yash Chopra           3
24      Rajesh Khanna   Yash Chopra           3
25      Sanjeev Kumar   Yash Chopra           3
26        Saul George   Yash Chopra           3
27       Sudha Chopra   Yash Chopra           3
28      Surendra Rahi   Yash Chopra           3
29       Yunus Parvez   Yash Chopra           3
(428, 3)
Wall time: 375 ms

In [40]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(50))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select actors ,directors, max(count) from (select a.actor actors, b.director directors, \
             count(*) count from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.name director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids \
             group by a.actor, b.director order by count(*) desc) group by actors,directors \
             having trim(directors) = 'Yash Chopra' order by count desc '''    


grader_8a(query8a)

                       actors     directors  max(count)
0                 Jagdish Raj   Yash Chopra          11
1            Manmohan Krishna   Yash Chopra          10
2                    Iftekhar   Yash Chopra           9
3                  Madan Puri   Yash Chopra           8
4                 Vikas Anand   Yash Chopra           8
5                 Anupam Kher   Yash Chopra           7
6               Shashi Kapoor   Yash Chopra           7
7            Amitabh Bachchan   Yash Chopra           6
8               Rakhee Gulzar   Yash Chopra           5
9              Waheeda Rehman   Yash Chopra           5
10             Achala Sachdev   Yash Chopra           4
11                Deven Verma   Yash Chopra           4
12                Hema Malini   Yash Chopra           4
13                Neetu Singh   Yash Chopra           4
14                   Ravikant   Yash Chopra           4
15               Rishi Kapoor   Yash Chopra           4
16             Shah Rukh Khan   Yash Chopra           4
17                A.K. Hangal   Yash Chopra           3
18                Anil Kapoor   Yash Chopra           3
19                Annu Kapoor   Yash Chopra           3
20              Leela Chitnis   Yash Chopra           3
21               Mohan Sherry   Yash Chopra           3
22            Parikshat Sahni   Yash Chopra           3
23                Prem Chopra   Yash Chopra           3
24              Rajesh Khanna   Yash Chopra           3
25              Sanjeev Kumar   Yash Chopra           3
26                Saul George   Yash Chopra           3
27               Sudha Chopra   Yash Chopra           3
28              Surendra Rahi   Yash Chopra           3
29               Yunus Parvez   Yash Chopra           3
30            Amarinder Sodhi   Yash Chopra           2
31   Ananth Narayan Mahadevan   Yash Chopra           2
32                Aruna Irani   Yash Chopra           2
33                Ashok Kumar   Yash Chopra           2
34                Ashok Verma   Yash Chopra           2
35                      Bindu   Yash Chopra           2
36                  C.L. Shah   Yash Chopra           2
37          Chandu Allahabadi   Yash Chopra           2
38           Gajanan Jagirdar   Yash Chopra           2
39             Gita Siddharth   Yash Chopra           2
40             Gulshan Grover   Yash Chopra           2
41               H.L. Pardesi   Yash Chopra           2
42            Hari Shivdasani   Yash Chopra           2
43                     Jeevan   Yash Chopra           2
44                Juhi Chawla   Yash Chopra           2
45               Lalit Tiwari   Yash Chopra           2
46                 Mala Sinha   Yash Chopra           2
47              Manohar Singh   Yash Chopra           2
48                  Moolchand   Yash Chopra           2
49                      Nanda   Yash Chopra           2
(428, 3)
Wall time: 933 ms

In [17]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    #print(q8a_results.head(100))
    print(q8a_results[660:680])
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select actors ,directors, max(count) from (select a.actor actors, b.director directors, \
             count(*) count from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.name director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids \
             group by a.actor, b.director order by count(*) desc) group by actors,directors \
             order by count desc '''    


grader_8a(query8a)

                 actors                    directors  max(count)
660         Reema Lagoo             Lawrence D'Souza           4
661         Reema Lagoo                 Mahesh Bhatt           4
662         Reema Lagoo           Sooraj R. Barjatya           4
663           Reena Roy                J. Om Prakash           4
664           Reena Roy               Rajkumar Kohli           4
665               Rekha                Rakesh Roshan           4
666               Rekha            Rama Rao Tatineni           4
667        Rishi Kapoor                   Raj Kapoor           4
668        Rishi Kapoor                  Yash Chopra           4
669         Robin Bhatt                 Mahesh Bhatt           4
670   Rohini Hattangadi            Rajkumar Santoshi           4
671      Rohitashv Gour              Rajkumar Hirani           4
672       Roopesh Kumar                  Umesh Mehra           4
673       Sachin Pathak              Nishikant Kamat           4
674         Salman Khan                  Sohail Khan           4
675         Salman Khan           Sooraj R. Barjatya           4
676           Samar Roy         Hrishikesh Mukherjee           4
677             Sandhya   Shantaram Rajaram Vankudre           4
678         Sanjay Dutt                  Jyotin Goel           4
679         Sanjay Dutt              Rajkumar Hirani           4
(73292, 3)
Wall time: 1.5 s

In [20]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    #print(q8a_results.head(100))
    print(q8a_results[660:680])
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select actors, directors, ROW_NUMBER() (PARTITION BY actors, directors order by count \
             desc) AS rn, counts from (select actors ,directors, max(count) counts from (select a.actor \
             actors, b.director directors, count(*) count from (select p.name \
             actor, m.mid mids from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid \
             and m_c.mid = m.mid) a, (select p.name director, m.mid mids from person p, \
             movie m, m_director m_d where m_d.pid = p.pid and m_d.mid = m.mid) b where \
             a.mids = b.mids group by a.actor, b.director order by count(*) desc '''    


grader_8a(query8a)

DatabaseError: Execution failed on sql 'select actors, directors, ROW_NUMBER() (PARTITION BY actors, directors order by count              desc) AS rn, counts from (select actors ,directors, max(count) counts from (select a.actor              actors, b.director directors, count(*) count from (select p.name              actor, m.mid mids from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid              and m_c.mid = m.mid) a, (select p.name director, m.mid mids from person p,              movie m, m_director m_d where m_d.pid = p.pid and m_d.mid = m.mid) b where              a.mids = b.mids group by a.actor, b.director order by count(*) desc) group by              actors,directors order by count desc) ': near "(": syntax error

In [23]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    #print(q8a_results.head(100))
    print(q8a_results[660:680])
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select c.actors, c.directors, ROW_NUMBER() (PARTITION BY c.actors, c.directors order by c.count \
             desc) AS rn from (select a.actor actors, b.director directors, count(*) count from (select p.name \
             actor, m.mid mids from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid \
             and m_c.mid = m.mid) a, (select p.name director, m.mid mids from person p, \
             movie m, m_director m_d where m_d.pid = p.pid and m_d.mid = m.mid) b where \
             a.mids = b.mids group by a.actor, b.director order by count(*) desc) c '''    


grader_8a(query8a)

DatabaseError: Execution failed on sql 'select c.actors, c.directors, ROW_NUMBER() (PARTITION BY c.actors, c.directors order by c.count              desc) AS rn from (select a.actor actors, b.director directors, count(*) count from (select p.name              actor, m.mid mids from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid              and m_c.mid = m.mid) a, (select p.name director, m.mid mids from person p,              movie m, m_director m_d where m_d.pid = p.pid and m_d.mid = m.mid) b where              a.mids = b.mids group by a.actor, b.director order by count(*) desc) c ': near "(": syntax error

In [4]:
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8_results.shape == (245, 2))
    
query8a = '''select actors, count no_of_movies from (select actors, directors,count, DENSE_RANK() \
             OVER (PARTITION BY actors, directors ORDER BY count desc) r from (select a.actor \
             actors, b.director directors, count(*) count from (select distinct(p.name) actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) \
             a, (select distinct(p.name) director, m.mid mids from person p, movie m, m_director m_d \
             where m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor, \
             b.director order by count(*) desc)) where r = 1 and trim(directors) = 'Yash Chopra' \
             order by count desc  '''    


grader_8a(query8a)

              actors  no_of_movies
0        Jagdish Raj            11
1   Manmohan Krishna            10
2           Iftekhar             9
3         Madan Puri             8
4        Vikas Anand             8
5        Anupam Kher             7
6      Shashi Kapoor             7
7   Amitabh Bachchan             6
8      Rakhee Gulzar             5
9     Waheeda Rehman             5
(428, 2)

In [41]:
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select actors,directors,count movies from (select actors, directors,count, DENSE_RANK() \
             OVER (PARTITION BY actors, directors ORDER BY count desc) r from (select a.actor \
             actors, b.director directors, count(*) count from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) \
             a, (select p.name director, m.mid mids from person p, movie m, m_director m_d \
             where m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor, \
             b.director order by count(*) desc))  '''    


grader_8a(query8a)

                        actors           directors  movies
0              'Ganja' Karuppu       N. Linguswamy       1
1              'Ganja' Karuppu            Perarasu       1
2        'Lee' George Quinones    Adam Bhala Lough       1
3   'Musafir' Radio Performing     Abhishek Kapoor       1
4           'Nandha' Saravanan                Bala       1
5       'Om' Rakesh Chaturvedi            R. Balki       1
6               'Snub' Pollard         Robert Wise       1
7               A'Ali de Sousa         Karan Johar       1
8              A. Abdul Hameed    K.S. Prakash Rao       1
9              A. Abdul Hameed  K.S. Sethumadhavan       1
(73292, 3)

In [7]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    #print(q8a_results.head(100))
    print(q8a_results[50:70])
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select actors ,directors, max(count) from (select a.actor actors, b.director directors, \
             count(*) count from (select distinct(p.name) actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select distinct(p.name) director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids \
             group by a.actor, b.director order by count(*) desc) group by actors,directors \
             order by count desc '''    


grader_8a(query8a)

               actors              directors  max(count)
50      Shakti Kapoor             K. Bapaiah           9
51        Soni Razdan           Mahesh Bhatt           9
52      Tiku Talsania           Mahesh Bhatt           9
53   Aftab Shivdasani           Vikram Bhatt           8
54   Amitabh Bachchan         Manmohan Desai           8
55        Amrish Puri        Govind Nihalani           8
56        Amrish Puri          Shyam Benegal           8
57    Anjan Srivastav      Rajkumar Santoshi           8
58      David Abraham   Hrishikesh Mukherjee           8
59        Deven Verma   Hrishikesh Mukherjee           8
60         Feroz Khan             Feroz Khan           8
61       Guddi Maruti           David Dhawan           8
62     Gulshan Grover            Umesh Mehra           8
63      Lalita Kumari   Hrishikesh Mukherjee           8
64          Mac Mohan           Raj N. Sippy           8
65         Madan Puri            Yash Chopra           8
66        Manoj Joshi      Madhur Bhandarkar           8
67      Mukesh Tiwari           Rohit Shetty           8
68            Om Puri           Priyadarshan           8
69        Om Shivpuri                 Gulzar           8
(73292, 3)
Wall time: 1.43 s

In [9]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select a.actor,b.director, count(*) from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.name director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids and \
             trim(b.director) = 'Yash Chopra' group by a.actor'''    


grader_8a(query8a)

                actor      director  count(*)
0         A.K. Hangal   Yash Chopra         3
1          Aamir Khan   Yash Chopra         1
2        Abbie Murphy   Yash Chopra         1
3      Achala Sachdev   Yash Chopra         4
4                Ajit   Yash Chopra         1
5   Akhilendra Mishra   Yash Chopra         1
6        Akhtar Mirza   Yash Chopra         1
7      Akhtar-Ul-Iman   Yash Chopra         1
8        Akshay Kumar   Yash Chopra         1
9       Alankar Joshi   Yash Chopra         1
(428, 3)
Wall time: 342 ms

In [10]:
%%time

def grader_8(q8):
    q8_results  = pd.read_sql_query(q8,conn)
    print(q8_results.head(10))
    print(q8_results.shape)
    #assert (q8_results.shape == (245, 2))
    
query8 = '''select  actor , no_of_movies from (select actor , no_of_movies from  (select \
            act actor, dir ,no_of_movies from (select act, dir , max(num) no_of_movies from \
            (select act, dir ,count(act) num from (select act , dir , mov from (select act , dir , \
            mov from (select a.actor act  , b.director dir, a.movies mov from (select p.name \
            actor , m.title movies , m.year years ,m.mid mi from (select * from person \
            where rowid in(select min(rowid) from person group by pid)) p, movie m,  m_cast m_c \
            where trim(m_c.pid)=p.pid and m_c.mid=m.mid) a , (select p.name director , m.title \
            movies , m.year years ,m.mid mi from (select * from person where rowid in(select \
            min(rowid) from person group by pid)) p, movie m,  m_director m_d where \
            trim(m_d.pid)=p.pid and m_d.mid=m.mid ) b where a.mi=b.mi) )  group by act ,mov) \
            group by act,dir) group by act) where trim(dir)='Yash Chopra') order by no_of_movies \
            desc) order by  no_of_movies desc'''

grader_8(query8)

               actor  no_of_movies
0        Jagdish Raj            11
1   Manmohan Krishna            10
2           Iftekhar             9
3      Shashi Kapoor             7
4      Rakhee Gulzar             5
5     Waheeda Rehman             5
6     Achala Sachdev             4
7        Neetu Singh             4
8      Leela Chitnis             3
9       Sudha Chopra             3
(116, 2)
Wall time: 1.85 s

In [8]:
%%time

def grader_8(q8):
    q8_results  = pd.read_sql_query(q8,conn)
    print(q8_results.head(10))
    print(q8_results.shape)
    #assert (q8_results.shape == (245, 2))
    
query8 = '''select p.name,h.count from(select mc.pid as mcpid,md.pid as mdpid,count(mc.MID) as \
            count from m_cast as mc join m_director md on md.MID=mc.MID group by mc.pid ,md.pid) h \
            join person p on h.mcpid=p.pid where h.count = (select count(*) as count from m_cast \
            as mc join m_director md on md.mid=mc.mid where mc.pid=h.mcpid group by mc.pid,md.pid \
            order by count(*) desc limit 1) and h.mdpid = (select pid from person where name \
            like '%Yash Chopra%') order by h.count desc'''

grader_8(query8)

Empty DataFrame
Columns: [Name, count]
Index: []
(0, 2)
Wall time: 577 ms

In [12]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select actors, count no_of_movies from (select actors, directors, dir, count, DENSE_RANK() \
             OVER (PARTITION BY actors, directors,dir ORDER BY count desc) r from (select a.actor \
             actors, b.director directors,b.dir dir, count(*) count from (select a.actor,b.director, count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director,p.name dir, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director order by count(*) desc)) where r = 1 and trim(dir) = 'Yash Chopra' \
             order by count desc'''    


grader_8a(query8a)

DatabaseError: Execution failed on sql 'select actors, count no_of_movies from (select actors, directors, dir, count, DENSE_RANK()              OVER (PARTITION BY actors, directors,dir ORDER BY count desc) r from (select a.actor              actors, b.director directors,b.dir dir, count(*) count from (select a.actor,b.director, count(*) movies from (select p.pid actor, m.mid mids              from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a,              (select p.pid director,p.name dir, m.mid mids from person p, movie m, m_director m_d where              m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,             b.director order by count(*) desc)) where r = 1 and trim(dir) = 'Yash Chopra'              order by count desc': incomplete input

In [10]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select a.actor,b.director, count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director'''    


grader_8a(query8a)

       actor   director  movies
0  nm0000002  nm0496746       1
1  nm0000027  nm0000180       1
2  nm0000039  nm0896533       1
3  nm0000042  nm0896533       1
4  nm0000047  nm0004292       1
5  nm0000073  nm0485943       1
6  nm0000076  nm0000229       1
7  nm0000092  nm0178997       1
8  nm0000093  nm0000269       1
9  nm0000096  nm0113819       1
(73408, 3)
Wall time: 928 ms

In [23]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select A,B,C,movies from (select A,B,C,movies, DENSE_RANK() \
             OVER (PARTITION BY A, B,C ORDER BY movies desc) r from (select a.actor A ,b.director B ,b.dir C, count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director,p.name dir, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director)) where r = 1 and trim(C) = 'Yash Chopra' \
             order by movies desc'''    


grader_8a(query8a)

           A          B             C  movies
0  nm0707271  nm0007181   Yash Chopra      11
1  nm0471443  nm0007181   Yash Chopra      10
2  nm0407002  nm0007181   Yash Chopra       9
3  nm0025630  nm0007181   Yash Chopra       8
4  nm0534501  nm0007181   Yash Chopra       8
5  nm0004434  nm0007181   Yash Chopra       7
6  nm0451600  nm0007181   Yash Chopra       7
7  nm0000821  nm0007181   Yash Chopra       6
8  nm0347901  nm0007181   Yash Chopra       5
9  nm0716851  nm0007181   Yash Chopra       5
(430, 4)
Wall time: 1.44 s

In [22]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select pid from person where trim(name) = 'Yash Chopra' '''    


grader_8a(query8a)

         PID
0  nm0007181
(1, 1)
Wall time: 18 ms

In [2]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select p.name Actors , movies from (select A,B,movies from (select A,B,movies, \
             DENSE_RANK() OVER (PARTITION BY A, B ORDER BY movies desc) r from \
             (select a.actor A,b.director B, count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director order by count(*) desc)) where r = 1 and trim(B) = 'nm0007181' \
             order by movies desc) d, person p where trim(A) =p.pid'''    


grader_8a(query8a)

              Actors  movies
0        Jagdish Raj      11
1   Manmohan Krishna      10
2           Iftekhar       9
3        Vikas Anand       8
4         Madan Puri       8
5        Anupam Kher       7
6      Shashi Kapoor       7
7   Amitabh Bachchan       6
8     Waheeda Rehman       5
9      Rakhee Gulzar       5
(430, 2)

AssertionError:

In [ ]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select p.name Actors , movies from (select A,B,movies from (select A,B,movies, \
             DENSE_RANK() OVER (PARTITION BY A, B ORDER BY movies desc) r from \
             (select a.actor A,b.director B, count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director order by count(*) desc)) where r = 1 and trim(B) = (select pid from person \
             where trim(name)  = 'Yash Chopra') \
             order by movies desc) d, person p where trim(A) =p.pid'''    


grader_8a(query8a)

In [4]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select pid  from person where trim(name) = 'Yash Chopra' '''    


grader_8a(query8a)

         PID
0  nm0007181
(1, 1)

AssertionError:

In [5]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select act_pid ,dir_pid, movies from (select act_pid ,dir_pid, movies, dense_rank() over(partition by act_pid ,dir_pid order by movies) r from \
             (select a.actor act_pid ,b.director dir_pid , count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director)) where r = 1 and trim(dir_pid) ='nm0007181' '''    


grader_8a(query8a)

     act_pid    dir_pid  movies
0  nm0000821  nm0007181       6
1  nm0002043  nm0007181       1
2  nm0004109  nm0007181       2
3  nm0004334  nm0007181       1
4  nm0004429  nm0007181       1
5  nm0004434  nm0007181       7
6  nm0004435  nm0007181       3
7  nm0004437  nm0007181       2
8  nm0004487  nm0007181       2
9  nm0004564  nm0007181       4
(430, 3)

AssertionError:

In [7]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select act_pid ,dir_pid, movies from (select act_pid ,dir_pid, movies, dense_rank() over(partition by act_pid ,dir_pid order by movies) r from \
             (select a.actor act_pid ,b.director dir_pid , count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director)) where r = 1 '''    


grader_8a(query8a)

     act_pid    dir_pid  movies
0  nm0000002  nm0496746       1
1  nm0000027  nm0000180       1
2  nm0000039  nm0896533       1
3  nm0000042  nm0896533       1
4  nm0000047  nm0004292       1
5  nm0000073  nm0485943       1
6  nm0000076  nm0000229       1
7  nm0000092  nm0178997       1
8  nm0000093  nm0000269       1
9  nm0000096  nm0113819       1
(73408, 3)
Wall time: 1.34 s

In [24]:
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8_results.shape == (245, 2))
    
query8a = '''select distinct(actors), count no_of_movies from (select actors, directors,count, DENSE_RANK() \
             OVER (PARTITION BY actors ORDER BY count desc) r from (select a.actor \
             actors, b.director directors, count(*) count from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) \
             a, (select p.name director, m.mid mids from person p, movie m, m_director m_d \
             where m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor, \
             b.director order by count(*) desc)) where r = 1 and trim(directors) = 'Yash Chopra' \
             order by count desc  '''    


grader_8a(query8a)

              actors  no_of_movies
0        Jagdish Raj            11
1   Manmohan Krishna            10
2           Iftekhar             9
3      Shashi Kapoor             7
4      Rakhee Gulzar             5
5     Waheeda Rehman             5
6     Achala Sachdev             4
7        Neetu Singh             4
8           Ravikant             4
9      Leela Chitnis             3
(237, 2)

In [18]:
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    #print(q8a_results.head(10))
    print(q8a_results[600:620])
    print(q8a_results.shape)
    #assert (q8_results.shape == (245, 2))
    
query8a = '''select actors, directors, count no_of_movies, r from (select actors, directors,count, DENSE_RANK() \
             OVER (PARTITION BY actors ORDER BY count desc) r from (select a.actor \
             actors, b.director directors, count(*) count from (select p.name actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) \
             a, (select p.name director, m.mid mids from person p, movie m, m_director m_d \
             where m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor, \
             b.director order by count(*) desc)) where r = 1  '''    


grader_8a(query8a)

              actors                  directors  no_of_movies  r
600        Abu Baker              Devendra Goel             1  1
601        Abu Baker                  Guru Dutt             1  1
602        Abu Baker       Hrishikesh Mukherjee             1  1
603       Abu Siwani                M.S. Sathyu             1  1
604        Abu Zayan                   Amit Rai             1  1
605    Abuzar Sudhan                  Aleya Sen             1  1
606           Acchui                 Sonam Nair             1  1
607       Ace Bhatti            Gurinder Chadha             1  1
608      Achala Bose                Ashu Trikha             1  1
609     Achala Nagar                B.R. Chopra             1  1
610     Achala Nagar              J. Om Prakash             1  1
611   Achala Sachdev                Yash Chopra             4  1
612          Achchan               Sultan Ahmed             1  1
613            Achee             Khyentse Norbu             1  1
614       Achin Jain             Anurag Kashyap             1  1
615      Achint Kaur   Ananth Narayan Mahadevan             2  1
616    Achla Sachdev               Arjun Sablok             1  1
617    Achla Sachdev             Ganesh Acharya             1  1
618    Achla Sachdev          Madhur Bhandarkar             1  1
619    Achla Sachdev                Prakash Jha             1  1
(45614, 4)

In [29]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select distinct(act_pid) ,dir_pid, movies from (select act_pid ,dir_pid, movies, row_number() \
             over(partition by act_pid order by movies) r from \
             (select a.actor act_pid ,b.director dir_pid , count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director)) where r = 1 and trim(dir_pid) = 'nm0007181'  '''    


grader_8a(query8a)

     act_pid    dir_pid  movies
0  nm0007147  nm0007181       1
1  nm0015296  nm0007181       1
2  nm0019463  nm0007181       1
3  nm0030120  nm0007181       1
4  nm0044343  nm0007181       1
5  nm0046230  nm0007181       1
6  nm0049403  nm0007181       1
7  nm0052453  nm0007181       1
8  nm0080385  nm0007181       1
9  nm0081070  nm0007181       1
(257, 3)
Wall time: 1.1 s

In [26]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    assert (q8_results.shape == (245, 2))
    
query8a = '''select a.actor,b.director, count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director'''    


grader_8a(query8a)

       actor   director  movies
0  nm0000002  nm0496746       1
1  nm0000027  nm0000180       1
2  nm0000039  nm0896533       1
3  nm0000042  nm0896533       1
4  nm0000047  nm0004292       1
5  nm0000073  nm0485943       1
6  nm0000076  nm0000229       1
7  nm0000092  nm0178997       1
8  nm0000093  nm0000269       1
9  nm0000096  nm0113819       1
(73408, 3)

NameError: name 'q8_results' is not defined

In [ ]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    assert (q8_results.shape == (245, 2))
    
query8a = '''select a.actor,b.director, count(*) movies from (select p.pid actor, m.mid mids \
             from (select distinct(pid) from person) p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from (select distinct(pid) from person) p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director'''    


grader_8a(query8a)

In [33]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    assert (q8a_results.shape == (73408, 3))
    
query8a = '''select act_pid ,dir_pid, movies from (select act_pid ,dir_pid, movies, row_number() \
             over(partition by act_pid order by movies) r from \
             (select a.actor act_pid ,b.director dir_pid, count(*) movies from (select p.pid actor, m.mid mids \
             from person p, movie m, m_cast m_c where trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, \
             (select p.pid director, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director)) where r = 1 '''    


grader_8a(query8a)

     act_pid    dir_pid  movies
0  nm0000002  nm0496746       1
1  nm0000027  nm0000180       1
2  nm0000039  nm0896533       1
3  nm0000042  nm0896533       1
4  nm0000047  nm0004292       1
5  nm0000073  nm0485943       1
6  nm0000076  nm0000229       1
7  nm0000092  nm0178997       1
8  nm0000093  nm0000269       1
9  nm0000096  nm0113819       1
(32127, 3)

AssertionError:

In [49]:
%%time
def grader_8a(q8a):
    q8a_results  = pd.read_sql_query(q8a,conn)
    print(q8a_results.head(10))
    print(q8a_results.shape)
    #assert (q8a_results.shape == (73408, 3))
    
query8a = '''select p.name actors, a.movies no_of_movies from  (select act_pid ,dir_pid,directors, \
             movies from (select act_pid ,dir_pid,directors, \
             movies, dense_rank() over(partition by act_pid order by movies desc) r from \
             (select a.actor act_pid ,b.director dir_pid ,directors, count(*) movies from \
             (select p.pid actor, m.mid mids from person p, movie m, m_cast m_c where \
             trim(m_c.pid) = p.pid and m_c.mid = m.mid) a, (select p.pid director, p.name \
             directors, m.mid mids from person p, movie m, m_director m_d where \
             m_d.pid = p.pid and m_d.mid = m.mid) b where a.mids = b.mids group by a.actor,\
             b.director)) where r = 1 and trim(directors) = 'Yash Chopra') a , person p where\
             a.act_pid = p.pid order by a.movies desc '''    


grader_8a(query8a)

              actors  no_of_movies
0        Jagdish Raj            11
1   Manmohan Krishna            10
2           Iftekhar             9
3      Shashi Kapoor             7
4     Waheeda Rehman             5
5      Rakhee Gulzar             5
6     Achala Sachdev             4
7        Neetu Singh             4
8           Ravikant             4
9    Parikshat Sahni             3
(245, 2)
Wall time: 1.24 s